*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background: linear-gradient(135deg, #2e8b57, #a8d5ba);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #2d3436;
}


.expense { 
    width: 100%;
    max-width: 1200px;
    background-color: #ffff;
    padding: 2rem; 
    border: 1px solid black;
    border-radius: 24px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.expense__title, .balance__title, .balance__amount { 
    text-align: center; 
}

.balance{
    margin-top: 1.5rem;
    background-color: green;
    padding: 1.5rem;
    border-radius: 24px;
}

.balance__title{
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
}

.balance__amount{
    font-size: 2.9rem;
    font-weight: bold;
}

.stats{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.stats__item{
    background-color: #f1f2f6;
    padding: 1rem 2rem;
    border-radius: 16px;
    text-align: center;
    width: 45%;
}

.stats__item--income{
    color: green;
}

.stats__item--expense{
    color: red;
}

.stats__label{
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.stats__value{
    font-size: 2.2rem;
    font-weight: bold;
}

.panel{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.transaction-list {
  width: 48%;
}

.transaction-list__items {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    overflow:auto;         
    max-height: 300px;  
}

.transaction-list__item{
    list-style: none;
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 300px;
    padding-right: 0.3rem;
}



.transaction-form{
    width: 48%;
    background-color: #f1f2f6;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.transaction-form__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.transaction-form__field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.transaction-form__input{
    padding: 0.8rem;
    border: #2d3436;
    border-radius: 8px;
    font-size: 1rem;
}

.transaction-form__submit{
    background-color: #2e8b57;
    color: #ffff;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}


.deleteTransactionBtn{
    color: black;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .panel{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .transaction-list,.transaction-form{
        width: 100%;
    }
    
}



